body
{
  font-family: 'Shantell Sans', cursive;
}


.result_para_tag
{
    height: .9cm;
}

.heading
{
    width: 30cm;
}

.heading_div
{
    width: 30cm;
}

.copy_right_footer
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 9cm;
}